[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pure-python-adb = "*"
pillow = "*"
pytesseract = "*"
numpy = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
